<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tracks</key>
	<array>
		<dict>
			<key>containerMembership</key>
			<array>
				<string>D052B948-DEA9-4A90-BD84-48DC5CB8B10B</string>
				<string>00BAEA98-9910-420B-B724-4074AE0D3C4B</string>
			</array>
			<key>title</key>
			<string>Counting Sleepy Dinosaurs</string>
			<key>itemID</key>
			<string>A0407B84-DC40-4DB0-B3CD-123AD06ED7B1</string>
		</dict>
		<dict>
			<key>containerMembership</key>
			<array>
				<string>D052B948-DEA9-4A90-BD84-48DC5CB8B10B</string>
				<string>00BAEA98-9910-420B-B724-4074AE0D3C4B</string>
			</array>
			<key>title</key>
			<string>Dinosaur Contemplates Outer Space</string>
			<key>itemID</key>
			<string>13EDC688-66C9-48EB-AB6B-0F7BB8F03187</string>
		</dict>
		<dict>
			<key>containerMembership</key>
			<array>
				<string>8B45F97B-6CE2-4BC4-824B-CE63A62EB302</string>
				<string>00BAEA98-9910-420B-B724-4074AE0D3C4B</string>
			</array>
			<key>title</key>
			<string>Sizzling Frying Pan</string>
			<key>itemID</key>
			<string>EFFBBE90-70CC-4D80-A4A0-E9B4FB0D0309</string>
		</dict>
		<dict>
			<key>containerMembership</key>
			<array>
				<string>8B45F97B-6CE2-4BC4-824B-CE63A62EB302</string>
				<string>00BAEA98-9910-420B-B724-4074AE0D3C4B</string>
			</array>
			<key>title</key>
			<string>Refrigerator Hum</string>
			<key>itemID</key>
			<string>075D79C5-CBCF-4271-8FC0-E57A42FC3828</string>
		</dict>
		<dict>
			<key>containerMembership</key>
			<array>
				<string>8B45F97B-6CE2-4BC4-824B-CE63A62EB302</string>
				<string>00BAEA98-9910-420B-B724-4074AE0D3C4B</string>
			</array>
			<key>title</key>
			<string>Running Water</string>
			<key>itemID</key>
			<string>6907D4C5-7594-433B-B309-976BEC5E1F45</string>
		</dict>
	</array>
	<key>soundscapes</key>
	<array>
		<dict>
			<key>itemID</key>
			<string>D052B948-DEA9-4A90-BD84-48DC5CB8B10B</string>
			<key>artworkName</key>
			<string>dinosaur</string>
			<key>title</key>
			<string>Sleepy Dinosaur Sounds</string>
			<key>containerName</key>
			<string>Soundscape of the Day</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>8B45F97B-6CE2-4BC4-824B-CE63A62EB302</string>
			<key>artworkName</key>
			<string>cooking</string>
			<key>title</key>
			<string>Cooking White Noise</string>
			<key>containerName</key>
			<string>Soundscapes for You</string>
		</dict>
	</array>
</dict>
</plist>
